:root {
  --bgmain-color:#EBEEF4;
  --primary-color:#FFFFFF;
  --secondary-color:#D1DDEC;
  --supertitleprimary-color:#5695E6;
  --supertitlesecondary-color:#3170c4;
  --titleprimary-color:#2b2b2b;
  --titlesecondary-color:#414141;
  --subjects-color:#8c8c8c;
  --snapshot-color:#114b8b;
  --max-width:1440px;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background: var(--bgmain-color);
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Georgia', sans-serif;
  font-size: 22px;
}

.card {
  background: var(--primary-color);
  padding: 0.5rem;
  margin:0.2rem;
  /* border: solid 1px black; */
}

.card-side {
  background: var(--secondary-color);
  padding: 1rem;
  margin:0.2rem;
}

#overview #supertitle-m {
  font-family: 'Roboto', sans-serif;
  color: var(--supertitleprimary-color);
  text-transform: uppercase;
  font-size: 15px;

}
#overview #title-m {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: rgb(43, 43, 43);
}
#overview #subjects-m {
  font-family: 'Roboto', sans-serif;
  color: var(--subjects-color);
  padding-bottom: 0.2rem;
}
#subjects {
  color: var(--subjects-color);
  font-size: 13px;
}

#supertitle{
  color: var(--supertitleprimary-color);
  text-transform: uppercase;
  font-family: 'roboto', sans-serif;
  font-size: 13px;

}

#title{
  color: var(--titlesecondary-color);
  font-size: 14px;
  font-family: 'roboto', sans-serif;

}



/* Navigation */

#main-appbar {
  background: #fff;
  height: 55px;
  position: sticky;
  top:0;
  z-index: 2;
  box-shadow: 1px 1px 4px 1px #464646;
}

#main-appbar .app-container {
  display: grid;
  grid-template-columns: 10fr 2fr;
  align-items: center;
}

#main-appbar ul {
  justify-content: space-between;
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0 1rem;
  margin-right:1.5rem;

}

#main-appbar h1 {
  margin-left:1.5rem;
  font-weight: 100;
  color: #1E3657;
  padding-bottom: 1rem;

}

#main-appbar .user {
  width: 38px;
}
#main-appbar .app-icons {
padding-bottom:0.2rem;
}

/* Nav and Namecard */

.namecard {
  display: flex;
}
.namecard p {
margin-bottom: 0.1rem;
}
.namecard img {
width: 60px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}
.nav a {
  text-decoration: none;
  color: var(--supertitlesecondary-color);
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
}
/* Main Content */

#main-content .main-container {
  display: grid;
  grid-template-columns: 2.5fr 8.5fr;
  grid-gap: 0.1rem;
}

#content .content-container {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-gap: 0.1rem;
}

#content #top-row {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-gap: 0.1rem;
}

#content #bottom-row {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-gap: 0.1rem;
}

#top-row #snapshot {
    height: 260px;
    overflow: scroll;
}
/* Overview */

#overview p {
    font-family: "Roboto Slab";
    color: #414141;
    font-size: 19.012px;
    line-height: 30px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    margin: 0px;
    padding-top: 5px;
    font-weight: 300;
    text-transform: none;
}

.bold {
  font-family: "Roboto Slab";
  color: #414141;
  font-weight: 500;
  font-size: 19px;

}

/* Snapshot */

.shead{
    color:#000000;
    font: size 14px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding: 0px 16px;
    font-weight:400;
    text-transform:none;
}
.sheader{
    font-size: 15px;
    color: rgb(17, 75, 139);
    display: inline-block;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 16px;
}
.scontentbox{
    color:#000000;
    font: size 14px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding: 0px;
    font-weight:400;
    text-transform:none;
}
.scontent{
    color:#000000;
    font: size 14px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding: 0px 16px;
    font-weight:400;
    text-transform:none;
}
.stitle{
    font-size: 15px;
    color: rgb(43, 43, 43);
    display: block;
    line-height: 21px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 14px;
}
.ssupertitle{
    font-size: 15px;
    line-height: 21px;
    white-space: normal;
    color: rgb(90, 90, 90);
    font-weight: 500;
    margin:0px;
}
.ssubtitle{
    margin-top:8px;
    padding-left: 16px;
    color: rgb(49, 112, 196);
    list-style-type: disc;
}
ul {
    padding-left: 16px;
    margin: 8px 0px;
    
}

ol {
    padding-left: 16px;
    margin: 8px 0px;
    
}
ul li {
    color:rgb(49, 112, 196);
    font-size: 15px;
    line-height:21px;
    vertical-align:top;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding-bottom: 8px;
    font-weight:400;
    text-align: left;
    text-transform:none;
}

ul li span {
    color:rgb(90, 90, 90);
    font-size: 15px;
}
ol li {
    color:rgb(49, 112, 196);
    font-size: 15px;
    line-height:21px;
    vertical-align:top;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding-bottom: 8px;
    font-weight:400;
    text-align: left;
    text-transform:none;
}

ol li span {
    color:rgb(90, 90, 90);
    font-size: 15px;
}
p span{
    color:rgb(49, 112, 196);
    font-size: 150%;
    vertical-align: middle;
}

.slist {
    color:rgb(90, 90, 90);
    font-size: 15px;
    line-height:21px;
    vertical-align:top;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding-bottom: 8px;
    font-weight:400;
    text-align: left;
    text-transform:none;
}

/* Highlights */

#vcontainerout{
    font-size:14px;
    color:#777777;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    font-weight: 400;
    text-transform:none;
}
#vcontainerin{
    font-size:14px;
    color:#000000;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:10px 0px;
    font-weight: 400;
    text-transform:none;
}
.vhead{
    font-size:14px;
    color:#000000;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:16px 16px 0px;
    font-weight: 400;
    text-transform:none;
    text-align: left;
}

.vheader{
    color:#579613;
    font: size 14px;
    line-height:18px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-weight:400;
    text-transform:uppercase;
}

.vsetsgroup{
    display: grid;
    grid-template-columns: auto auto;
}
.vsets{
    color:#000000;
    font: size 14px;
    line-height:20x;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px 0px 16px;
    padding:16px 16px 0px;
    font-weight:400;
    text-transform:none;
}
.vicon1{
    color:#000000;
    font: size 14px;
    line-height:20x;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-weight:400;
    text-transform:none;
}

.vsets img{
    
    /* color: rgb(173, 173, 173); 
    background: none; 
    user-select: none;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    border-radius: 0px;
    height: auto;
    width: auto;
    vertical-align: top;
    margin-right: 0px;
    border: none;
    letter-spacing: 0.5px;
    text-transform: uppercase;*/
    height: 52px;
    /* line-height: 52px; */
    /* font-weight: 300;
    padding: 12px 0px 14px; */
}
.vbody{
    color:#000000;
    font-size:14px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-weight:400;
    text-transform:none;
    
}
.vtitle{

    font-size: 14px;
    color: rgb(43, 43, 43);
    display: block;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-weight: 500;
} 
.vsupertitle{
    color:#5a5a5a;
    font-size:15px;
    line-height:21px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-weight:400;
    text-transform:none;
}

/* Wizzlet Quote */

#wqhead{
    font-size:14px;
    color:#000000;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:16px 16px 0px;
    font-weight:400;
}

.wqheader{
    color:#579613;
    font: size 14px;
    line-height:18px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-weight:400;
    text-transform:uppercase;
}
.wqbody{

    font: size 14px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px 0px 16px;
    padding:16px 16px 0px;
    font-weight:400;
    text-transform:none;
}

.blockquote {
    color: #5a5a5a;
    position: relative;
    font-size: 17px;
    line-height: 27px;
    font-style: italic;
    padding: 0px;
    margin: 0px;
}
.blockquote:before {
    font-family: "Roboto";
    content: " \201C ";
    font-size: 46px;
    font-weight: 400;
    position: absolute;
    left: -24px;
    top: 4px;
    color: #5a5a5a;
}
.wqfoot{
    font: size 14px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-weight:400;
    text-transform:none;
}
.wqfooter{
    color:#8c8c8c;
    font: size 14px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px 0px 6px;
    padding:0px 0px 0px 4px;
    font-weight:400;
    text-transform:none;
}

/* Wizzlet Stat */

#wizzlets {
    height: 450px;
    overflow: scroll;
}

.whead{
    line-height:20px;
    margin:0px;
    padding:16px 16px 0px;
}
.wheader{
    font-size:14px;
    color:#579613;
    line-height:32px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
}
.wbody{
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px 0px 16px;
    padding:16px 16px 0px;
}
.wavatar{
    color:#adadad;
    font-size:48px;
    /* line-height:42px;
    vertical-align:baseline;
    letter-spacing:0.5px;
    word-spacing:0px;
    margin:0px; */
    padding:12px 0px 14px;
    font-weight:lighter;
    text-transform:uppercase; 
}   
.wtitle{
    font-size: 14px; 
    color: rgb(43, 43, 43); 
    display: block; 
    line-height: 21px; 
    text-transform: uppercase; 
    margin-bottom: 4px;
    font-weight: 500;
} 
.wsupertitle{
    color:#5a5a5a;
    font-size:15px;
    line-height:21px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-weight:400;
    text-transform:none;
}
.wtitlebox{
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;

}

/* .second .wtitle {
    text-transform:capitalize;
    vertical-align:baseline;
}
.third .wavatar {
    text-align: center;
}
.third .wtitle {
    text-align: center;
}
.third .wsupertitle {
    text-align: center;
} */


/* Footer */

#footer{
  background: #fff;
  position: sticky;
  bottom:0;
  z-index: 2;
  box-shadow: 1px 1px 4px 1px #464646;
  font-size: 10.5px;

}
